 body {
     margin: 0px;
     background-color: #e8e8e8;
 }
 #company-name {
     color: #0895DB;
 }
 #project-name {
     color: #0895DB;
 }
 #school-name {
     color: #0895DB;
 }
 .date {
     color: #333333;
 }
 .progress-skills {
     background-color: #0895DB
 }
 /** icon links color **/
 .fa {
     color: #0895DB;
 }

/** color of company name, school name, and project name headers */ 
 h4 {
     font-color: #0895DB;
 }
 
 /** adds shadow to boxes **/
 div.card {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .myContainer {
     margin-top: 15px;
 }
